<div class="jumbotron">
    <div class="container">
        <h1>Contact us</h1>
        <p>Delaine Lawrence</p>
        <p>225-588-1744</p>
        <p>delaine.lawrence35@gmail.com</p>
    </div>
</div>